<!-- <p id="notice"><%= notice %></p>

<p>
  <b>Level:</b>
  <%= @program.level %>
</p>

<p>
  <b>Name:</b>
  <%= @program.name %>
</p>
<h2>Weeks</h2>
<% @program.weeks.each do |week|  %>
<div class='week'>
    <p><b><%= 'Week ' + week.order.to_s %></b></p>
    <% week.days.each do |day| %>
    <div class='day'>
        <b><%= 'Day ' + day.order.to_s + ':' + day.section %></b>
            <% day.exercises.each do |exercise| %>
                <p><%= exercise.name %></p>
            <% end %>
    </div>
    <% end %>
</div>
<% end %>

<%= link_to 'Back', programs_path %> -->
<h1>Program <%= @program.name %></h1>
<div class="tabbable" id="tabs-660877">
    <ul class="nav nav-tabs">
    <% @program.weeks.each do |week| %>
        <li class="<%= if week.order == 1 then 'active' end %>">
            <a href="#panel-<%= week.order %>" data-toggle="tab">Week <%= week.order %></a>
        </li>
    <% end %>
    </ul>
    <div class="tab-content">
    <% @program.weeks.each do |week| %>
        <div class="tab-pane <%= if week.order == 1 then 'active' end %>" id="panel-<%= week.order %>">
        <div class="row-fluid">
            <% week.days.each do |day| %>
            <% @day = day %>
            <div class="span3">
            <%= render :template => "days/show" %>
            </div>
            <% end %>
        </div>
        </div>
    <% end %>
    </div>
</div>
