<p id="notice"><%= notice %></p>

<p>
  <b>No:</b>
  <%= @sheet.no %>
</p>

<p>
  <b>Description:</b>
  <%= @sheet.description %>
</p>


<%= link_to 'Edit', edit_sheet_path(@sheet) %> |
<%= link_to 'Back', sheets_path %>
