<p id="notice"><%= notice %></p>

<p>
  <b>Login account:</b>
  <%= @user.login_account %>
</p>

<p>
  <b>Passwd:</b>
  <%= @user.passwd %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
