<%= form_for(@exercise) do |f| %>
  <% if @exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
      <% @exercise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :section_id %><br />
    <%= f.radio_button :section_id, 1, :value => 1  %>PUSH<br />
    <%= f.radio_button :section_id, 2, :value => 2  %>PULL<br />
    <%= f.radio_button :section_id, 3, :value => 3  %>CORE<br />
    <%= f.radio_button :section_id, 4, :value => 4 %>LEGS & GLUTES<br />
  </div>
  <div class="field">
    <%= f.label :level %><br />
    <%= f.text_field :level  %>
  </div>
  <div class="field">
    <%= f.label :annotation %><br />
    <%= f.text_field :annotation  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
