<h3>
    <%= @exercise.name %>
</h3>

<p>
    <%= @exercise.annotation %>
</p>

<p>
    <%= @exercise.section %>
</p>

<p>
    <%= @exercise.section_id %>
</p>

<p>
    <%= @exercise.level %>
</p>

<%= link_to 'Edit', edit_exercise_path(@exercise) %>

<!--<%= link_to 'Back', exercises_path %>-->
